
h1{
    color: red;
    text-align: center;
}

p{
    background-color: antiquewhite; 
    text-align: center; 
}
h2{
    text-align: left;
}
body{
    background-color: whitesmoke;
    text-align: left;
}


table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    background-color:azure;
}


